<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Developers database</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    </head>
    <body>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Developers</h1>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Skills</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="developer : ${developers}">
                            <td th:text="${developer.firstName + ' ' + developer.lastName}"></td>
                            <td>
                                <span th:each="skill,iterStat : ${developer.skills}">
                                    <span th:text="${skill.label}"/><th:block th:if="${!iterStat.last}">,</th:block>
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/developer/{id}(id=${developer.id})}">view</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-6">
                    <h1>Add a developer</h1>

                    <form th:action="@{/developers}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First name</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last name</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="lastName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-lg-offset-3">
                                    <button type="submit" class="btn btn-primary" name="button">Create</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>